<div class="big-wrapper container">
  <div class="wrapper-add-new row">
    <div class="h3-list col-6">
      <h3>{{currentUser.firstName}}'s properties</h3>
    </div>
    <div class="btn-add-prop col-6">
      <a class="btn btn-primary float-right" href="/add-property" role="button">
        Add new
      </a>
    </div>

    <div class="container">
      <div class="row card">
        {{!-- upload photo --}}
        <img src="./images/property1.jpg" class="col-6 card-img" />

        <div class="card-body col-6">
          <h5 class="card-title">Cosy apartment 2 bedrooms</h5>
          <p class="card-text p-address">
            <i class="fas fa-map-marker-alt"></i>5627 Boulevard Saint-Joseph
            East
          </p>
          <p class="card-text head-room-text">
            <small class="text-muted align-text-bottom float-left">Jeremy Nestor</small>
            <strong class="align-text-bottom float-right">1200$</strong>
          </p>
        </div>
      </div>

      <div class="row card">
        {{!-- upload photo --}}
        <img src="./images/property2.jpg" class="col-6 card-img" />
        <div class="card-body col-6">
          <h5 class="card-title">Cosy apartment 2 bedrooms</h5>
          <p class="card-text p-address">
            <i class="fas fa-map-marker-alt"></i>
            5627 Boulevard Saint-Joseph East
          </p>
          <p class="card-text head-room-text">
            <small class="text-muted align-text-bottom float-left">Sophia Gomez</small>
            <strong class="align-text-bottom float-right">1800$</strong>
          </p>
        </div>
      </div>

      <div class="row card">
        {{!-- upload photo --}}
        <img src="./images/property3.jpg" class="col-6 card-img" />
        <div class="card-body col-6">
          <h5 class="card-title">Cosy apartment 2 bedrooms</h5>
          <p class="card-text p-address">
            <i class="fas fa-map-marker-alt"></i>

            5627 Boulevard Saint-Joseph East
          </p>
          <p class="card-text head-room-text">
            <small class="text-muted align-text-bottom float-left">Lola Bailey</small>
            <strong class="align-text-bottom float-right">2400$</strong>
          </p>
        </div>
      </div>

      <div class="row card">
        {{!-- upload photo --}}
        <img src="./images/property4.jpg" class="col-6 card-img" />
        <div class="card-body col-6">
          <h5 class="card-title">Cosy apartment 2 bedrooms</h5>
          <p class="card-text p-address">
            <i class="fas fa-map-marker-alt"></i>
            5627 Boulevard Saint-Joseph East
          </p>
          <p class="card-text head-room-text">
            <small class="text-muted align-text-bottom float-left">Samuel Herrera</small>
            <strong class="align-text-bottom float-right">3200$</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>