{{!-- route to the middle path request --}}

<br>

<form action="/process-login" method="POST">

  {{errorMessage}}
  <br>
  <label>
    Email:
    <input type="email" name="email" placeholder="Log In" />
  </label>

  <label>
    Password:
    <input type="password" name="originalPassword" placeholder="Log In" />

  </label>

  <button>Log In</button>
</form>
<button><a href="/signup">Sign Up</a></button>