<h2>Add Property</h2>

<form action="/process-add-property" method="POST" enctype="multipart/form-data">
  Name:
  <label>
    <input type="text" name="name" required />
  </label>
  Description:
  <label>
    <input type="text" name="description" placeholder="Sunny flat in center ville" required />
  </label>
  {{!-- amenities --}}
  <input type="checkbox" name="amenities" value="electricity"><span>Electricity</span>
  <input type="checkbox" name="amenities" value="heating"><span>Heating</span>
  <input type="checkbox" name="amenities" value="water"><span>Water</span>
  <input type="checkbox" name="amenities" value="elevator"><span>Elevator</span>
  <input type="checkbox" name="amenities" value="garage"><span>Garage</span>
  <input type="checkbox" name="amenities" value="kitchenAppliances"><span>Kitchen Appliances</span>
  <input type="checkbox" name="amenities" value="airConditioning"><span>Air Conditioning</span>
  Address:
  <br>

  <label>
    Street
    <input type="text" name="address.street" required />
  </label>
  <label>
    State
    <input type="text" name="address.state" required />
  </label>
  <label>
    Zipcode
    <input type="text" name="address.zipcode" required />
  </label>
  <label>
    Country
    <input type="text" name="address.country" required />
  </label>

  <button>Add Property</button>
</form>

{{!-- ---------------HTML RICH FORM --}}
<div class="container">
  <h6>
    <strong>List a new property </strong><a class="cancel" href="/properties">Cancel</a>
  </h6>

  <form class="head-room">
    <div class="form-group">
      <h6><span class="pastille">1</span> ABOUT PROPERTY</h6>
      <label for="formGroupExampleInput">Name</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ex: 1 bedroom apartment" />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Description</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter address here" />
    </div>

    <div class="form-group">
      <label for="formGroupExampleInput">Price</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter renting price here" />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">URL Picture</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="http://" />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Location</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter address here" />
    </div>
  </form>
  <form>
    <h6><span class="pastille">2</span>TENANT INFORMATIONS</h6>
    <div class="form-group">
      <label for="formGroupExampleInput">Full name</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="John Doe" />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Email</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter email here" />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Phone number</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="+33" />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Emergency Contact Name</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Jane Doe" />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Emergency Contact Number</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="+33" />
    </div>
    <a class="btn btn-primary" href="#" role="button">
      Add new Property
    </a>
  </form>
</div>