<div class="container">
  <h6>
    <strong>List a new property </strong><a class="cancel" href="/properties">Cancel</a>
  </h6>

  <form class="head-room" action="/process-add-property" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <h6><span class="pastille">1</span> ABOUT PROPERTY</h6>
      <label for="formGroupExampleInput">Name</label>
      <input type="text" name="name" class="form-control" id="formGroupExampleInput"
        placeholder="Ex: 1 bedroom apartment" />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Description</label>
      <div class="form-group">
        <textarea type="text" name="description" class="form-control" rows="3"
          placeholder="Sunny flat located in a central..."></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="formGroupExampleInput">Rent Amount</label>
      <input type="text" name="rentAmount" class="form-control" id="formGroupExampleInput"
        placeholder="Enter renting price here" />
    </div>

    <div class="form-group">
      <label for="exampleFormControlFile1">Feature Photo</label>
      <input type="file" name="featurePhoto" class="form-control-file" id="exampleFormControlFile1">
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputDeposit">Security Deposit</label>
        <input type="number" name="deposit" class="form-control" id="inputEmail4" placeholder="Ex: 2400$">
      </div>
      <div class="form-group col-md-6">
        <label for="inputSize">Interior Size</label>
        <input type="number" name="interiorSize" class="form-control" id="inputSize" placeholder="Ex: 80 m2">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="inputBedroom">Bedrooms</label>
        <input type="text" name="bedroom" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-5">
        <label for="inputBathroom">Bathrooms</label>
        <input type="text" name="bathroom" class="form-control" id="inputBathroom">
      </div>
      <div class="form-group col-md-2">
        <label for="inputParking">Parking</label>
        <select id="inputParking" name="parking" class="form-control">
          <option selected>Yes</option>
          <option>No</option>
        </select>
      </div>

    </div>

    <h6><span class="pastille">2</span>ADDRESS</h6>


    <div class="form-group">
      <label for="inputAddress">Street Name</label>
      <input type="text" name="street1" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" name="street2" class="form-control" id="inputAddress2"
        placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" name="city" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Zip</label>
        <input type="text" name="zipcode" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Country</label>
        <input type="text" name="country" class="form-control" id="inputZip">
      </div>
    </div>






    <h6><span class="pastille">3</span>AMENITIES</h6>


    <div class="form-group">
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="amenities" type="checkbox" id="inlineCheckbox1" value="electricity">
        <label class="form-check-label" for="inlineCheckbox1">Electricity</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="amenities" type="checkbox" id="inlineCheckbox2" value="heating">
        <label class="form-check-label" for="inlineCheckbox2">Heating</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="amenities" type="checkbox" id="inlineCheckbox3" value="water">
        <label class="form-check-label" for="inlineCheckbox3">Water</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="amenities" type="checkbox" id="inlineCheckbox4" value="elevator">
        <label class="form-check-label" for="inlineCheckbox4">Elevator</label>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="amenities" type="checkbox" id="inlineCheckbox5" value="garage">
        <label class="form-check-label" for="inlineCheckbox5">Garage</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="amenities" type="checkbox" id="inlineCheckbox6" value="kitchenAppliances">
        <label class="form-check-label" for="inlineCheckbox6">Kitchen Appliances</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="amenities" type="checkbox" id="inlineCheckbox7" value="airConditioning">
        <label class="form-check-label" for="inlineCheckbox7">Air Conditioning</label>
      </div>
    </div>

    <button class="btn btn-primary" role="button">
      Add New Property
    </button>
  </form>


  <form class="head-room" action="/process-add-tenant" method="POST" enctype="multipart/form-data">
    <h6><span class="pastille">4</span>TENANT INFORMATION</h6>
    <div class="form-group">
      <label for="formGroupExampleInput">Full name</label>
      <input type="text" name="fullName" class="form-control" id="formGroupExampleInput" placeholder="John Doe" />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Email</label>
      <input type="text" name="email" class="form-control" id="formGroupExampleInput2" placeholder="Enter email here" />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Phone number</label>
      <input type="text" name="phone" class="form-control" id="formGroupExampleInput" placeholder="+33" />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Emergency Contact Name</label>
      <input type="text" name="contactName" class="form-control" id="formGroupExampleInput" placeholder="Jane Doe" />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Emergency Contact Number</label>
      <input type="text" name="contactNumber" class="form-control" id="formGroupExampleInput" placeholder="+33" />
    </div>
    <button class="btn btn-primary" role="button">
      Add New Tenant
    </button>
  </form>
</div>