{{!-- // title = proprio --}}
<h1>{{title}}</h1>

<h2>Sign Up</h2>
{{!-- route to the middle path request --}}
<form action="/process-signup" method="POST" enctype="multipart/form-data">

  First Name:
  <label>
    <input type="text" name="firstName" placeholder="Jane" required />
  </label>
  <label>
    Last Name:
    <input type="text" name="lastName" placeholder="Doe" required />
  </label>
  // select dots
  <label>
    Role:
    <div class="field-body">
      <div class="control">
        <label class="radio">
          <input type="radio" name="tenant">
        </label>
        <label class="radio">
          <input type="radio" name="landlord">
          Female
        </label>
      </div>
  </label>
  <label>
    Email:
    <input type="email" name="email" placeholder="Log In" required />
  </label>

  <label>
    Password:
    <input type="password" name="originalPassword" placeholder="Log In" required />
  </label>

  {{!-- In order to stle this, you need to create an object that overlays this --}}
  <label>
    Profile Photo:
    <input type="file" name="profilePhoto" required />

  </label>

  <button>Get started with your properties!</button>
</form>