<div class="container head-room">
  <form action="/process-signup" method="POST" enctype="multipart/form-data">
    <h6>Create your profile <a class="cancel" href="/">Cancel</a></h6>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputFirstName">First name</label>
        <input type="text" class="form-control" id="inputFirstName" name="firstName" placeholder="First name here" />
      </div>
      <div class="form-group col-md-6">
        <label for="inputLastName">Last name</label>
        <input type="text" class="form-control" id="inputLastName" name="lastName" placeholder="Last name here" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email here" />
      </div>
      <div class="form-group col-md-6">
        <label for="inputPhone">Phone</label>
        <input type="number" class="form-control" id="inputPhone" name="phone" placeholder="+33" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPicture">Profile picture</label>
        <input type="file" name="profilePhoto" class="form-control" id="inputPicture"
          placeholder="Need to find a way to upload a picture from computer or phone" />
      </div>
      <div class="form-group col-md-6">
        <label for="inputRole">Role</label>
        <select name="role" id="inputRole" class="form-control">
          <option selected>Landlord</option>
          <option>Tenant</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="originalPassword"
          placeholder="Password here" />
      </div>
      <div class="form-group col-md-6">
        <label for="inputConfirmPassword">Confirm password</label>
        <input type="password" class="form-control" id="inputConfirmPassword" name="confirmPassword"
          placeholder="Confirm Password here" />
      </div>
    </div>

    <button class="btn btn-primary">Submit</button>

  </form>
</div>